@import "https://fonts.googleapis.com/css?family=Marck Script"; */
/*@import"https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">; */
@font-face
{
  font-family:"Marck Script";
  src:url(../FONT/MarckScript-Regular.ttf)
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box
}

body, html{height:100%}
body
{
  background-color:#0d0e11;
  margin:0 auto;
  text-align:center;
  width:100%;
  font-family:"Marck Script";
  color:#fff;
  font-weight:300;
  line-height:28px;
  font-size:44px
  /*justify-content: center;  /*из-за неё многое сбивается*/
  /*align-items: center; /*из-за неё многое сбивается*/
 } 

canvas{background:#111}
#wrapper
{
  padding:0 15px;
  height:100%;
  display:flex
}

.content
{
  align-self:center;
  margin:0 auto
}

.big
{
  font-family:"Marck Script";
  font-size:80px;	
  line-height:60px;
  margin-bottom:43px;
  padding-bottom:25px;
  border-bottom:1px dashed #fff
}

.big + p
{
  font-family:'Marck Script',cursive;
  font-size:55px
}

@media (max-width: 1050px)
{
  .content_cell
  {
    display:block;
    width:100%;
    padding:0
  }
}

@media (max-width: 544px)
{
  .big{font-size:60px;
    margin-bottom:30px;
    padding-bottom:20px
  }
  
 .big + p
  {
   font-family:'Marck Script',cursive;
    font-size:45px
  }
}

/* Часы:*/
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.clock {
  height: 20vh;
  color: white;
  font-size: 10vh;
  font-family: sans-serif;
  line-height: 20.4vh;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 7ch;
  height: 3vh;
  background: #0d0e11; /*linear-gradient(to top, transparent, black); */
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
  background: #0d0e11; /* linear-gradient(to bottom, transparent, black); */
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}
/* Часы:. Конец.*/


